bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/


.idea
.vscode/
.dbeaver
/Scripts
*.DS_Store
.DS_Store
/.apt_generated_tests/
*/bin
*/obj

publish
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.DotSettings
*.csproj.DotSettings
